
<h1>CD Workshop Guestbook!</h1>
<p id="notice"><%= notice %></p>
<%= render 'form', visit: @visit %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visits.each do |visit| %>
      <tr>
        <td><%= visit.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

